

<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/app.css" />
  <link rel="stylesheet" href="/fontAwesome/css/prettify.css">
	<link rel="stylesheet" href="/fontAwesome/css/font-awesome.css" />
	<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="/bootstrap.js"></script>
  <script src="http://static.firebase.com/v0/firebase.js"></script>
  <script src="/home.js"></script>
</head>
<body>
  <div id="main" class="container">
    <div id="logo"></div>
    <div id="project_info">
      <div class="links">
        <a id="firebase_link" href="http://www.firebase.com/">
           <img src="/img/firebase-logo.png" alt="" id="fireBase" width=180/>
        </a>
        <a id="tokbox_link" href="http://www.tokbox.com/">
           <img src="/img/tokbox-corporate-logo.png" alt="" id="tokbox"  width=150/>
        </a>
       <div style="clear:both;"></div>
      </div>
    </div>
      
    <div class="top">
      <div id="newTopic_form">
        <div class="content">
          <div class="topic">
            <i class="icon-edit"></i>
            <input type="" id="topic_input" />
          </div>
          <span id="submitTopic" class="">Create/Enter Room <i class="icon-signin"></i> </span>
          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
    
    <div class="bottom">
      <ul id="topList">
        <div class="container">
          <div id="listContainer"></div>
          <p id="endMessage">
            This app is made possible with OpenTok API for live video, and Firebase for scalable and real-time data storage. To get the complete source code, visit the GitHub Repo.
          </p>
          <div id="authorInfo">
            <h3>About Developer</h3>
            <img id="mePic" src="/img/me.png" alt="" />
            <div id="developerInfo">
              Aspiring Developer
              <span>Recent Grad</span>
            </div>
              <a href="https://www.facebook.com/billma127"><img class="icon" src="/img/fb.png" alt="" id="fb" /></a>
              <a href=""><img class="icon" src="/img/wordpress.png" alt="" id="wp" /></a>
              <div style="clear:both;"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </ul>
    </div>
  </div>
</body>
</html>






