<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/app.css" />
  <link rel="stylesheet" href="/fontAwesome/css/prettify.css">
	<link rel="stylesheet" href="/fontAwesome/css/font-awesome.css" />
	<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="/bootstrap.js"></script>
  <script src="http://static.firebase.com/v0/firebase.js"></script>
</head>
<body>
  <script type="text/javascript">
    $(function(){
      // var clear = new Firebase('https://gamma.firebase.com/billma/opentokFire')
      // clear.remove()
      $('#topic_input').focus()

      var topics=new Firebase('https://gamma.firebase.com/billma/opentokFire/topics')
  
      // get a list of topics 
      listTopics=function(){
        topics.on('value',function(data){
          $('#listContainer').html('')
          // iterate through the list
          data.forEach(addTopicLink)
        })
      }
      
      // User types in new topic
      addTopic=function(name,session_id){
        // check to see if topic already exist
        name=name.toLowerCase()
        for(var i=0; i<$('.each_room_name').length; i++){
          if(name== $( $('.each_room_name')[i] ).text().toLowerCase() ){
            window.location="/"+name;
            return;
          }
        }
        var newTopicRef=new Firebase('https://gamma.firebase.com/billma/opentokFire/topics/'+name)
        newTopicRef.set({name:name,session_id:session_id,totalUser:1}, function(){
          window.location="/"+name;
        });
      }
      
      // Adding the UI for each room/topic
      addTopicLink=function(topic){
        topicName=topic.val()['name'].toLowerCase()
        totalUser=topic.val()['totalUser']
        if(totalUser=="0"){
          // remove the topic if its empty
          topic.ref().remove(listTopics)
        }else{
          // insert the room into listContainer div
          var template='<a href="/'+topicName+'" topic="'+topicName+'"class="each_room btn">'+
            '<i class="icon-group"></i>'+
            '<span class="each_room_name">'+topicName+'</span>'+
            '<span class="totalUser">'+totalUser+'</span>'+
          '</a>'   
          $('#listContainer').append(template)    
        }
      }
  
      // Create room, grab sessionId first
      function submitTopic(){
        var name=$('#topic_input').val()
        // post request, get the session_id
        $.post( '/getSession',{},function(data){
          if(data['session_id']!=null){
              addTopic(name, data['session_id'])
          }
        })
      }
  
      // list topics when homepage is loaded
      listTopics()
  
      // submit topic when user click on 'enter' 
      $('#topic_input').keypress(function(e){
        if(e.keyCode==13){
          submitTopic()
          $('#topic_input').val('')
        } 
      })
  
      // user clicks on submit button
      $('#submitTopic').click(function(){
        submitTopic()
      })
    })

  
  </script>
  <div id="main" class="container">
    <div id="logo"></div>
    <div id="intro">
      <p>Create a room or select an existing room below to start</p>
    </div>
    <div id="project_info">
      <div class="links">
        <a id="firebase_link" >
           <img src="/img/firebase-logo.png" alt="" id="fireBase" width=180/>
        </a>
        <a id="tokbox_link" >
           <img src="/img/tokbox-corporate-logo.png" alt="" id="tokbox"  width=150/>
        </a>
       <div style="clear:both;"></div>
      </div>
    </div>
      
    <div class="top">
      <div id="newTopic_form">
        <div class="content">
          <div class="topic">
            <i class="icon-edit"></i>
            <input type="" id="topic_input" />
          </div>
          <span id="submitTopic" class="">Create/Enter Room <i class="icon-signin"></i> </span>
          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
    
    <div class="bottom">
      <ul id="topList">
        <div class="container">
          <div id="listContainer"></div>
          <p id="endMessage">
            This app is made possible with <a href="http://tokbox.com/">OpenTok API</a> for live video, and <a href="http://www.firebase.com/">Firebase</a> for scalable and real-time data storage. To get the complete source code, visit the <a href="https://github.com/billma/opentokfire">GitHub Repo</a>.
          </p>
          <div id="authorInfo">
            <h3>About Developer</h3>
            <img id="mePic" src="/img/me.png" alt="" />
            <div id="developerInfo">
              Aspiring Developer
              <span>Recent Grad</span>
            </div>
              <a href="https://www.facebook.com/billma127"><img class="icon" src="/img/fb.png" alt="" id="fb" /></a>
              <a href="http://www.twotibs.com/author/billma"><img class="icon" src="/img/wordpress.png" alt="" id="wp" /></a>
              <div style="clear:both;"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </ul>
    </div>
  </div>
</body>
</html>






